<!--<div class="mmenu">-->
<!--    <li><a href="/">Главная</a></li>-->
<!--    <li><a href="/study_programs/">Расписания</a></li>-->
<!--    <li><a href="/about/">О нас</a></li>-->
<!--</div>-->
<!--<hr>-->
<div class="mmenu">
    <li><a href="/" target="_blank">main</a></li>
    <li><a href="/table/" target="_blank">Расписание</a></li>
    <li><a href="/conta/" target="_blank">Контакты Наши</a></li>
    <li><a href="/about/" target="_blank">Описание Курсов</a></li>
    <li><a href="/reg/" target="_blank">Регистрация</a></li>
    <br>
</div>