<div class="content">
    <h1>Наши курсы (описание)</h1>
		<p>Все программы действуют в течение года.</p>
		<table>
			<tr class="head">
				<th></th>
				<th>Москва</th>
			</tr>
			<tr>
				<th>Основы Python</th>
				<td>Python входит в топ-10 самых востребованных языков программирования (по данным Stack Overflow). Он открывает путь в топовые IT-компании: Google, Pixar, Youtube, Instagram, Nasa, Intel, Pinterest используют именно его.

После курса вы сможете устроиться в компанию, где создают интерактивные веб-сервисы на Python, а таких очень много: 3305 вакансий для python-разработчика открыто прямо сейчас на hh.ru.</td>
			</tr>
			<tr class="even">
				<th>Алгоритмы и структуры данных на Python</th>
				<td>Курс предназначен для тех, кто уже знаком с языком программирования Python, но хотел бы понять и изучить базовые структуры данных,  научиться реализовывать алгоритмы,  знать где  и как их использовать и для чего они нужны.  </td>
			</tr>
			<tr>
				<th>Основы Django</th>
				<td>Вы занимаетесь программированием и интересуетесь веб-разработкой? Возможно, имеете определенный практический опыт разработки с использованием РНР и СУБД?

На данном курсе Вы изучите создание веб-приложений на языке Python с использованием MVC-подхода на примере фреймворка Django.</td>
			</tr>
			<tr class="even">
				<th>Основы Flask</th>
				<td>Flask - это фреймворк для веб-приложений, написанный на Python. Он разработан Армином Ронахером , который возглавляет международную группу энтузиастов Python по имени Pocco. Flask основан на наборе инструментов Werkzeug WSGI и шаблонизаторе Jinja2. Оба проекта Pocco.</td>
			</tr>
		</table>
</div>